/**********************************************************************\

Styles for DateCalculator manual

\**********************************************************************/

@import url("blankaspect-manual.css");

span.variable
{
  color: #006080;
  font-weight: bold;
  font-style: italic;
}

table.basic td.definitionTerm
{
  color: #004040;
  font-weight: bold;
}

table td.subheader
{
  background-color: #ECF0F8;
  color: #404040;
  font-size: 83%;
}

table td.key
{
  color: #C04000;
  font-weight: bold;
}

table#dateFormatExamples td.pattern
{
  background-color: #F8F6E0;
  color: #004040;
  white-space: nowrap;
}
table#dateFormatExamples td.output
{
  white-space: nowrap;
}
table#dateFormatExamples code
{
  color: black;
  background: transparent;
}

ul.paddedItems li
{
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

/*--------------------------------------------------------------------*/
